@import '../utils.scss';

.about {
    height: 125rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__fotobox{
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;

        img{
            width: 26rem;
        }
    }

    p {
        width: 90rem;
        margin: 0;
        text-align: center;
        line-height: 130%;
    }
}