@import '../setings.scss';
@import '../utils.scss';

.section-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__tittle{
        margin: 6rem 0 6rem 0;
    }

    &__one{
        display: flex;
        flex-direction: row;
        margin-bottom: 6rem;
    }

    &__text{
        align-self: center;
    }
}

.containerStyles{
    width: 50rem;
    height: 28rem;
    margin-right: 12.5rem;
    &_mod{
        margin-right: 0rem;
        margin-left: 12.5rem;
    }
}

.study{
    height: 75rem;
    display: flex;
    flex-direction: row;
    background-color: $black;
    justify-content: center;
    align-items: center;

    &__img{
        margin-right: 16rem;
    }

    &__text{
        width: 56rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        color: $white;

        span{
            color: $pink;
            font-size: 4.8rem;
        }
    }
}
