@import '../utils.scss';

.cardinfo {
    height: 210rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        margin: 5rem 0 5rem 0;
    }
}

.checkbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__item{
        width: 32rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            width: 7.1rem;
            margin-right: 2.5rem;
        }

        p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.7rem;
        }
    }
}

.step{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stepbox {
    display: flex;
    flex-direction: column;

    &__top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;

        span {
            margin-left: 1rem;
            font-size: 4rem;
        }

        img {
            margin-right: 0.8rem;
            width: 4rem;
        }
    }

    p{
        width: 24.5rem;
        font-size: 2rem;
    }
}

.card-info_shedule{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-shedule{
    width: 100%;
    height: 126rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__title{
        font-size: 2.4rem;
        margin-bottom: 0rem;
        font-weight: bold;
    }

    .centrel-line {
        align-self: flex-start;
        width: 3.2rem;
    }

    .left-column {
        height: 129rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        .title{
            font-size: 3rem;
            font-weight: bold;
        }
    }
    
    .right-column {
        height: 129rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        &__item{
            display: flex;
            flex-direction: column;
            width: 57rem;
    
            ul{
                padding: 0;
    
                li {
                    font-size: 2rem;
                }
            }
        }
    }
    
}