@import '../utils.scss';

.card {
    width: 100rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem auto;
    color: black;
    border-radius: 3rem;
    border: 0.3rem rgba(0, 0, 0, 0) solid;

    &__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title{
        margin: 0 0 3rem 0;
    }

    .img{
        width: 30rem;
        height: 30rem;
        margin: 4rem;
        border-radius: 1rem;
    }
    p {
        margin-bottom: 4rem;
    }
}

.card:hover {
        border: 0.3rem $pink solid;
        -webkit-box-shadow: 8px 8px 24px 0px #bf1b6a7c;
        -moz-box-shadow: 8px 8px 24px 0px #bf1b6a7c;
        box-shadow: 8px 8px 24px 0px #bf1b6a7c;
    }