@import '../utils.scss';

.footer {
    height: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: black;

    h3 {
        margin-bottom: 4rem;
    }

    &__left {
        width: 50rem;
        display: flex;
        flex-direction: column;
        margin-right: 10rem;

        .vertical-line-list {
            list-style-type: none;
            position: relative;
            padding-left: 4rem; /* Расстояние от левого края списка до маркера */
          }
          
          .vertical-line-list:before {
            content: "";
            position: absolute;
            top: -1rem;
            left: 0.8rem; /* Расстояние от левого края списка до линии */
            bottom: 0;
            width: 0.2rem; /* Толщина линии */
            background-color: $pink; /* Цвет линии */
          }
          
          .vertical-line-list li {
            font-size: 2rem;
            position: relative;
            margin-bottom: 2rem;
          }
          
          .vertical-line-list li:before {
            content: "";
            position: absolute;
            top: 1rem; /* Положение точки маркера */
            left: -3.6rem; /* Расстояние от левого края списка до точки маркера */
            width: 1rem; /* Ширина точки маркера */
            height: 1rem; /* Высота точки маркера */
            border-radius: 50%;
            background-color: $pink; /* Цвет точки маркера */
          }
    }

    &__right {
        width: 50rem;
        display: flex;
        flex-direction: column;

        span {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            input {
                color: $white;
                border: none;
                border-bottom: 0.2rem solid $pink;
                background-color: $black;
                outline: none;

                :focus {
                    border: 0.2rem solid $pink;
                    outline: none;
                }
            }

            input,
            input::placeholder {
                font-size: 1.5rem;
            }

            button{
                color: $white;
            }
        }
    }
}