@import '../utils.scss';

.nav{
    height: 10rem;
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10rem;
    padding-top: 1.8rem;
    box-sizing: border-box;
    background-color: $black;
    font-size: 2rem;

    &__logo{
        height: 7.6rem;
        display: flex;
        align-items: center;
        justify-content: center
    }

    &__list{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        color: $white;
        margin-right: 10rem;

        li:hover{
            color: $pink;
        }
    }
}

.icon{
    font-size: 2rem;
    margin-right: 0.5rem;
}