
.section{
    &__start{
        height: 65rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        color: white;
        box-sizing: border-box;
        padding-left: 10rem;

        img{
            width: 45rem;
            height: 65rem;
        }
    }

    &__left{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 53rem;

        h1{
            margin: 0;
            font-size: 9.6rem;
            font-weight: 500;
        }
        span{
            font-size: 2rem;
            margin-bottom: 3rem;
            text-align: end;
        }
        p{
            margin: 0;
            font-size: 2rem;
        }
    }
}

.tittle {
    margin-bottom: 1.5rem;
}